<!-- your html code here -->
<div class="container">
    <div class="card mb-4 " style="max-width: 100%;"></div>
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/img/2.jpg" class="img-fluid rounded-circle w-60 p-4" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body my-4">
                <h1>Hello, I'm the services.html <strong class="text-secondary">second_heading.html</strong></h1>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    </div>
</div>
<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>