<!-- your html code here -->
<section class="bg-white py-5">
    <div class="container">
        <div class="card mb-4 " style="max-width: 100%;"></div>
        <div class="row g-0 pt-4">
            <div class="col-md-4">
                <img src="assets/img/2.jpg" class="img-fluid rounded-circle w-60 p-4" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body my-4">
                    <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1>
                    <p class="card-text fs-4">Donem Ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl censectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>